body {
	background-color: #000;
	color: #B7B7B7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

h2 {
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}

h3 {
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 6px;
	text-transform: uppercase;
}

p {
	margin: 50px 0;
}

.allcaps {
	text-transform: uppercase;
}

.button {
	background-color: #A62E31;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.button.center {
	text-align: center;
}

.centered {
	display: block;
	margin: 0 auto;
	width: 175px;
}

.container {
	margin: 175px auto 0;
	padding: 0 10%;
}

.footer {
	margin: 100px 0;
	text-align: center;
}

.header {
	height: 250px;
	position: fixed;
	top: 0;
	width: 100%;
}

.info-container {
	display: inline-block;
	vertical-align: top;
	/*width: 33%;*/
}

.logo-container {
	display: inline-block;
	margin: 50px 0 0 50px;
	text-align: left;
}

.poster {
	display: block;
	margin: 0 auto;
	width: 85%;
}

.tickets-container {
	display: inline-block;
	float: right;
    margin: 60px 65px 0 0;
}